body{
    background: url(../img/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

#textoTitulos{
    font: bold 25px Tahoma;
    width: 100%;
    color: white;
}


span{
	font: bold 40px Tahoma;
    width: 100%;
	color: white;
}

#textBien{
    font: bold 40px Tahoma;
    width: 100%;
	color: white;
}

#texto{

     font: bold 18px Tahoma;
     width: 100%;
   	 color: white; 
}

#centro{

    margin: 10%;

}

#down{
    margin: 8%
}

#downBox{
    margin: 5%
}

#lado{

    display: inline-block;
}


#marco2 {
  margin-left: 380px;
  border: solid 2px #ccc;
  width: 50%;
}
