<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!--JQUERY-->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- Los iconos tipo Solid de Fontawesome-->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" />
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

<!-- Nuestro css-->
<link rel="stylesheet" type="text/css" href="/css/index.css" />
<script src="js/usuario.js"></script>
<script src="js/apiUser.js"></script>



</head>
<body>


	<div class="modal-dialog text-center">
		<div class="col-sm-8 main-section">
			<div class="modal-content">
				<div class="col-12 user-img">
					<img src="img/logo.png" width="50" height="50">
				</div>
				<form class="col-12" action='javascript:usuario.ingresoApp()'
					method="get">
					<div class="form-group" id="user-group">
						<input id="username" type="text" class="form-control"
							placeholder="correo institucional" name="username" />
					</div>
					<div class="form-group" id="contrasena-group">
						<input id="password" type="password" class="form-control"
							placeholder="Contraseña" name="password" />
					</div>
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-sign-in-alt"></i> Ingresar
					</button>
					<button type="button" onclick='usuario.pageRegistrar()'
						class="btn btn-danger">¡Ven y Registrate!</button>
				</form>
				<div class="col-12 forgot">
					<label> Recordarme <input type="checkbox"
						value="Recordarme"></input>
					</label>
				</div>
			</div>
		</div>
	</div>
</body>
</html>